<!DOCTYPE html>
<html>
<head>
	<title> gallery </title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <style type="text/css">
    body { padding-top: 70px; }
    .jumbotron {
      color: #2c3e50;
      background: #ecf0f1;

    }
    .navbar-inverse {
      background: #2c3e50;
      color: white;
    }
    .navbar-inverse .navbar-brand, .navbar-inverse a{
      color:white;
    }
    .navbar-inverse .navbar-nav>li>a {
      color: white;
    } 

  </style>

</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
				<a href="/" class="navbar-brand"><span class="glyphicon glyphicon-picture"></span> IMGS</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-nav-demo">
				<ul class="nav navbar-nav">
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact Us </a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/register">Sign Up</a></li>
					<li><a href="/login">Login</a></li>
				</ul>
			</div>
		</div>
	</nav>

  <div class="container">

  <div class="jumbotron">
    <h1><i class="fa fa-camera-retro"></i> Adib, The Photographer. </h1>
    <p> The Image Gallery </p> 
  </div>

    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://farm1.staticflickr.com/956/28056914958_3ee0d23851_k.jpg">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://farm2.staticflickr.com/1735/27665998727_856238c8f6_k.jpg">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://farm2.staticflickr.com/1760/40728259940_0c7f34f5c4_k.jpg">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://farm5.staticflickr.com/4752/25306697737_8c2e42a883_k.jpg">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://farm5.staticflickr.com/4757/28307821049_e405e1aaa6_k.jpg">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://farm5.staticflickr.com/4490/37033234923_06b0e548d2_k.jpg">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://farm5.staticflickr.com/4229/35378283591_cdab053501_k.jpg">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://farm5.staticflickr.com/4449/37302138811_e62d40d3f6_k.jpg">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://farm1.staticflickr.com/824/40870421345_fc57686347_k.jpg">
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://farm1.staticflickr.com/864/41736965532_6ff03da44b_k.jpg">
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://farm1.staticflickr.com/949/41736838772_4fe43c5794_k.jpg">
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://farm1.staticflickr.com/955/41728916652_70f2a303e2_k.jpg">
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://farm2.staticflickr.com/1732/27665789807_4eb330d3ad_k.jpg">
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://farm1.staticflickr.com/911/41736870602_2047bd4645_k.jpg">
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://farm2.staticflickr.com/1747/27665826597_20376cc69b_k.jpg">
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://farm2.staticflickr.com/1726/27665935267_96e54d65c9_k.jpg">
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://farm2.staticflickr.com/1746/42536689011_2973e55c07_k.jpg">
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://farm2.staticflickr.com/1749/41813752944_994c350435_k.jpg">
      </div>
    </div>
  </div>

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>

